#pricing {
	z-index: 0;
	position: relative;
	margin-top: -25rem;
	padding: 30rem 0 8rem 0;
	background-color: var(--color-light-400);
	background-image: url(../../assets/pricing-2-bg-1-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

	.pricing-switch {
		gap: 2rem;
		margin: 2rem auto 6rem;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			color: var(--color-Dark-800);
		}
	}

	.active {
		display: flex;
		opacity: 1;
		visibility: visible;
		transform: translateY(0rem);
	}

	.hide {
		display: none;
		opacity: 0;
		visibility: hidden;
		transform: translateY(8rem);
	}

	.switch {
		width: 8rem;
		height: 4rem;
		display: flex;
		padding: 0.5rem;
		cursor: pointer;
		border-radius: 5rem;
		justify-content: flex-start;
		background-color: var(--color-light-800);

		span {
			width: 3rem;
			height: 3rem;
			display: flex;
			border-radius: 50%;
			background: var(--color-gradient1);
			transition: transform 0.4s ease-in-out;
		}
	}
}

.show-yearly {
	transform: translateX(4rem);
}

.pricing-content {
	gap: 6rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.pricing-monthly,
.pricing-yearly {
	gap: 2.5rem;
	animation: fadeIn;
	display: flex;
	align-items: center;
	animation-duration: 1500ms;
	justify-content: space-between;
	animation-timing-function: ease-in-out;
}

.pricing-item {
	width: 34rem;
	max-width: 36rem;
	padding: 4.5rem;
	text-align: center;
	min-height: 40rem;
	border-radius: 0.8rem;
	box-shadow: var(--box-shadow-sm);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--color-light-100);
	transition: background-color 0.6s ease-in-out;

	h3 {
		font-size: 5rem;
		font-weight: 400;
		color: var(--color-Dark-800);
		transition: color 0.4s ease-in-out;
	}

	span {
		color: var(--color-secondary);
		letter-spacing: 0.15rem;
	}

	hr {
		width: 100%;
		height: 1px;
		margin: 3rem 0;
		opacity: 0.2;
		background-color: hsl(0, 0%, 50%);
	}

	li {
		padding: 0.8rem;
	}

	.btn-gradient {
		margin-top: 2.5rem;
	}

	p {
		font-size: 1.2rem;
		margin-top: 2.5rem;
		letter-spacing: 0.15rem;
	}

	&:hover {
		background-color: var(--color-footerBar);

		h3 {
			color: var(--color-light-100);
		}
	}
}

/* // -------- MEDIA QUERIES ------------------------------------------------------ */

@media screen and (max-width: 768px) {
	.pricing-monthly,
	.pricing-yearly {
		flex-direction: column;
	}

	.pricing-item {
		width: 32rem;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.pricing-monthly,
	.pricing-yearly {
		flex-wrap: wrap;
	}

	.pricing-item {
		width: 30rem;
	}
}
