@use "../abstracts/variables" as v;

.btn-gradient {
  border: none;
  cursor: pointer;
  font-size: v.$fs-btn;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: v.$color-light-100;
  background: v.$color-gradient1;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: v.$box-shadow-md;
    background: v.$color-gradient2;
  }
}

.btn-arrow {
  border: none;
  cursor: pointer;
  background-color: transparent;

  svg {
    fill: v.$color-Dark-800;
  }
}

.btn-close {
  svg {
    fill: v.$color-light-100;
    transition: fill 0.4s ease-in-out, transform 0.4s ease-in-out;
  }

  &:hover svg {
    fill: v.$color-secondary;
    transform: rotate(90deg);
  }
}

.btn-submit {
  border: none;
  padding: 2rem;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 14%;
  right: 2%;
  border-radius: 3rem;
  background-color: v.$color-Dark-400;
  transition: background-color 0.3s ease-in-out;

  svg {
    fill: v.$color-light-100;
  }

  &:hover {
    background-color: darken(v.$color-Dark-400, 15%);
  }
}
