@use "../abstracts/helper" as h;

.feature-list {
  gap: 2rem;
  @extend .flexRow-between;

  .feature-item {
    padding: 2.5rem;
    max-width: 32rem;
    min-height: 40rem;
    border-radius: 0.3rem;
    @extend .flexColumn-around;

    h3 {
      font-size: h.$fs-h4;
      color: h.$color-Dark-800;
    }

    .btn-arrow svg {
      fill: h.$color-Dark-800 !important;
    }

    figure {
      width: 8rem;
      height: 8rem;
      border-radius: 0.5rem;
      @extend .flexColumn-center;
      transition: background-color 0.5s ease-in-out;
    }

    &:nth-child(1) {
      border: 0.15rem solid lighten(h.$color-primary, 30%);

      figure {
        background-color: lighten(h.$color-primary, 30%);
      }

      svg {
        fill: h.$color-primary;
        transition: color 0.5s ease-in-out;
      }

      &:hover {
        box-shadow: h.$box-shadow-md;
        border: 0.15rem solid h.$color-primary;

        figure {
          background-color: h.$color-primary;
        }

        svg {
          fill: h.$color-light-100;
        }
      }
    }

    &:nth-child(2) {
      border: 0.15rem solid lighten(h.$color-secondary, 25%);

      figure {
        background-color: lighten(h.$color-secondary, 25%);
      }

      svg {
        fill: h.$color-secondary;
        transition: color 0.3s ease-in-out;
      }

      &:hover {
        box-shadow: h.$box-shadow-md;
        border: 0.15rem solid h.$color-secondary;

        figure {
          background-color: h.$color-secondary;
        }

        svg {
          fill: h.$color-light-100;
        }
      }
    }

    &:nth-child(3) {
      border: 0.15rem solid lighten(h.$color-tertiary, 30%);

      figure {
        background-color: lighten(h.$color-tertiary, 30%);
      }

      svg {
        fill: h.$color-tertiary;
        transition: color 0.3s ease-in-out;
      }

      &:hover {
        box-shadow: h.$box-shadow-md;
        border: 0.15rem solid h.$color-tertiary;

        figure {
          background-color: h.$color-tertiary;
        }

        svg {
          fill: h.$color-light-100;
        }
      }
    }

    &:nth-child(4) {
      border: 0.15rem solid lighten(h.$color-quarternary, 30%);

      figure {
        background-color: lighten(h.$color-quarternary, 30%);
      }

      svg {
        fill: h.$color-quarternary;
        transition: color 0.3s ease-in-out;
      }

      &:hover {
        box-shadow: h.$box-shadow-md;
        border: 0.15rem solid h.$color-quarternary;

        figure {
          background-color: h.$color-quarternary;
        }

        svg {
          fill: h.$color-light-100;
        }
      }
    }
  }
}

// -------- MEDIA QUERIES --------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .feature-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .feature-list {
    flex-wrap: wrap;
  }
}
